@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.addSpacing {
    padding-left: 3%;
    padding-top: 3%;
}

.addSpacing2 {
    padding-bottom: 2%;
}

.rowStyle {
    margin-top: 3%;
}