<div class="row rowStyle">
    <div class="row">
        <h2 class="addSpacing"><strong>Games</strong></h2>
    </div>
    <div class="row addSpacing2 row-cols-4 no-gutters g-4">
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Vanguard Game Review</h5>
                  <h6 class="card-subtitle mb-2 text-muted">It was alright, nothing special</h6>
                  <p class="card-text">Dapibus consectetur non in quam. Cras vel metus et lacus tempus tristique eu ut lorem.</p>   
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Overwatch Is Amazing</h5>
                  <h6 class="card-subtitle mb-2 text-muted">dictum ligula quam vitae nunc.</h6>
                  <p class="card-text">onsectetur adipiscing elit. Mauris posuere, libero a auctor sodales, tortor lorem</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">When Is The Next Mario?</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Praesent condimentum justo nisi, sit ame</h6>
                  <p class="card-text">laoreet felis vestibulum ut. Phasellus mattis Duis ut metus ante. Pellentesque tincidunt eros quis magna</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Is Virtual Reality Worth It?</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Proin odio sem, mollis ac justo ullamcorper, molestie vehicula</h6>
                  <p class="card-text">Phasellus aliquet quis felis quis eleifend. Curabitur vitae dictum turpis. Aliquam tincidunt, arcu quis tincidunt placerat, urna</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Vestibulum Ante Ipsum</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Proin odio sem, mollis ac justo ullamcorpera</h6>
                  <p class="card-text">Phasellus aliquet quis felis quis eleifend. Curabitur turpis. Aliquam tincidunt, arcu quis tincidunt placerat, urna</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Integer Venenatis Lorem</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Mollis ac ullamcorper, molestie vehicula</h6>
                  <p class="card-text">Phasellus aliquet quis felis quis eleifend. Curabitur vitae dictum turpis. Tincidunt placerat, urna</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Vivamus Rutrum Accumsan</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Xroin odio sem, mollis ac justo ullamcorpe</h6>
                  <p class="card-text">Phasellus aliquet quis felis quis eleifend. Liquam tincidunt, arcu quis tincidunt placerat, urna</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Curabitur Vitae Dictum Turpis</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Efficitur dapibus. Integer accumsan libero mauris, sit</h6>
                  <p class="card-text">Praesent nec elementum dolor. Phasellus commodo bibendum nulla, ut imperdiet purus vestibulum</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Rutrum Accumsan</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Odio sem, mollis ac justo ullamcorpe</h6>
                  <p class="card-text">Phasellus aliquet quis fiquam tincidunt, arcu quis tincidunt placerat, urna</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Hurabitur Vitae Turpis</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Efficitur accumsan libero mauris, sit</h6>
                  <p class="card-text">Praesen dolor. Phasellus commodo bibendum nulla, ut imperdiet purus vestibulum</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
    </div>
</div>