<nav class="navbar fixed-top navbar-expand-lg navbar-light py-5">
    <div class="container-fluid">
      <a class="navbar-brand large" routerLink="home-page"><img src="assets/img/Brightblogs.png" alt="BRIGHTBLOGS"></a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link px-4" routerLink="movies-page"><strong>Movies</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" routerLink="games-page"><strong>Games</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" routerLink="tv-page"><strong>TV</strong></a>
        </li>
      </ul>
    </div>
  </nav>
