<div class="row center">
    <h1 class="style">Welcome to BRIGHTBLOGS</h1>
    <h4>The Best Place to Post and Read About Entertainment</h4>
    <h4>(also is my technical assignment)</h4>
</div>
<div class="row center2">
    <div class="col-4">

    </div>
    <div class="col-4">
        <button type="button" class="btn btn-outline-danger">Make a Post</button>
    </div>
    <div class="col-4">
            
    </div>
</div>
<div class="row rowStyle">
    <div class="row">
        <h3 class="addSpacing"><strong>Recently Added Posts</strong></h3>
    </div>
    <div class="row addSpacing2 row-cols-4 g-4">
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Eternals Movie Review</h5>
                  <h6 class="card-subtitle mb-2 text-muted">It was alright, nothing special</h6>
                  <p class="card-text">After recently watching Eternal in movie theaters, I have to say that it was not as I expected.</p>   
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Mario64 The Best Mario Game?</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Here me out on why Mario64 is the best.</h6>
                  <p class="card-text">I recently bought a nintendo64 and played Mario64 on it and it was a fantastic experience.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Will SpongeBob Ever End?</h5>
                  <h6 class="card-subtitle mb-2 text-muted">How much longer can creators keep SpongeBob alive?</h6>
                  <p class="card-text">A SpongeBob marathon is how I started my Friday and it got me thinking on how longer will the series go on for.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Consectetur Adipiscing Elit</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Proin odio sem, mollis ac justo ullamcorper, molestie vehicula</h6>
                  <p class="card-text">Phasellus aliquet quis felis quis eleifend. Curabitur vitae dictum turpis. Aliquam tincidunt, arcu quis tincidunt placerat, urna</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Vestibulum Ante Ipsum</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Proin odio sem, mollis ac justo ullamcorpera</h6>
                  <p class="card-text">Phasellus aliquet quis felis quis eleifend. Curabitur turpis. Aliquam tincidunt, arcu quis tincidunt placerat, urna</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Integer Venenatis Lorem</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Mollis ac ullamcorper, molestie vehicula</h6>
                  <p class="card-text">Phasellus aliquet quis felis quis eleifend. Curabitur vitae dictum turpis. Tincidunt placerat, urna</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Vivamus Rutrum Accumsan</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Xroin odio sem, mollis ac justo ullamcorpe</h6>
                  <p class="card-text">Phasellus aliquet quis felis quis eleifend. Liquam tincidunt, arcu quis tincidunt placerat, urna</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card mx-auto h-100" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Curabitur Vitae Dictum Turpis</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Efficitur dapibus. Integer accumsan libero mauris, sit</h6>
                  <p class="card-text">Praesent nec elementum dolor. Phasellus commodo bibendum nulla, ut imperdiet purus vestibulum</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark">Read Post</a>
                </div>
              </div>
        </div>
    </div>
</div>
